<div class="page-header">
  <h1>Datepicker basic</h1>
</div>

<div class="row">
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text"
           placeholder="Datepicker"
           class="form-control"
           bsDatepicker
           [bsValue]="today"
           [bsConfig]="bsConfig" />
  </div>
</div>

<div class="page-header">
  <h1>Range Datepicker</h1>
</div>

<div class="row">
  <div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text"
           placeholder="Daterangepicker"
           class="form-control"
           [(ngModel)]="rangeDate"
           bsDaterangepicker />
  </div>
</div>